/*  your css code here. If applicable */
p#yellow{
	border: 3px solid green;
	background: yellow;
}
p#red{
	border: 3px solid black;
	background: red;
}
p#green{
	border: 3px solid yellow;
	background: green
}